
 <div *ngIf="isAdmin">
<nav class="navbar navbar-expand-lg " style="color:blue;background-color: rgb(124, 202, 124);">
    <ul class="navbar-nav">
      <li class="nav-item">  <a class="nav-link" routerLink="addFood">Add Food</a> </li>
      <li class="nav-item">  <a class="nav-link" routerLink="viewAllFood">View All Food</a></li>
        <li class="nav-item">  <a class="nav-link" routerLink="register">Register</a></li>
        <li class="nav-item">  <a class="nav-link" routerLink="changePassword">Change Password</a></li>
        <li class="nav-item">  <a class="nav-link" routerLink="login">Logout</a></li>

    </ul>
   
</nav>
</div>
<div>
<nav *ngIf="isUser" class="navbar navbar-expand-lg " style="color:blue;background-color: rgb(124, 202, 124);">
  <ul class="navbar-nav">
      <li class="nav-item">  <a class="nav-link" routerLink="home">Search Foods</a></li>
      <li class="nav-item">  <a class="nav-link" routerLink="register">Register</a></li>
      <li class="nav-item">  <a class="nav-link" routerLink="login">Logout</a></li>

  </ul>
 
</nav>
<nav *ngIf="isUser==false && isAdmin==false" class="navbar navbar-expand-lg " style="color:blue;background-color: rgb(124, 202, 124);">
  <ul class="navbar-nav">
     <li class="nav-item">  <a class="nav-link" routerLink="register">Register</a></li>
      <li class="nav-item">  <a class="nav-link" routerLink="login">Login</a></li>
  </ul>
 
</nav>
</div>
<hr>
<h1 style="color: blue;margin-left:190px"> Welcome to Foodie</h1>
<div *ngIf="isHome">
<img src="assets/Img/food.jpg" width="80%" height="60%" style="margin-left: 100px;">
</div>
<router-outlet></router-outlet>