<div class="container container-fluid">
    <div class="row">
    <div class="col-md-2">
    
    </div>
    <div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h1>Add Food Category</h1>
            
    </div>
    <div class="card-body">
        <form [formGroup]="categoryForm" (ngSubmit)="saveCategory()" >
            <input type="text" placeholder="category Name" class="form-control" formControlName="categoryName"><br>
           
             
            <br>
            <a routerLink="/addFood">Add Food</a>
            <br>
           <input type="submit" value="Add Category For Food Item" class="btn btn-success" [disabled]="categoryForm.invalid">
        </form>
        
    </div>
    </div>
    </div>
    <div class="col-md-2">
    
    </div>
    </div>
    </div>
    