<div class="container container-fluid">
    <div class="row">
    <div class="col-md-2">
    
    </div>
    <div class="col-md-8">
    <div class="card">
        <div class="card-header">
            <h1>Change Password</h1>
            
    </div>
    <div class="card-body">
        <form [formGroup]="pwdForm" (ngSubmit)="savePassword()" >
            <input type="password" placeholder="password" class="form-control" formControlName="password"><br>

           
          <input type="submit" value="Change Password " class="btn btn-primary" style="text-align: center;" [disabled] = "pwdForm.invalid">
        </form>
        
    </div>
    </div>
    </div>
    <div class="col-md-2">
    
    </div>
    </div>
    </div>
    